<!DOCTYPE html>
<html lang="en">
  <head>
    <link <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "The Beduin Market" %></title>
    <link rel="shortcut icon" href="<%=asset_path("logo.png")%>" >

    <%= javascript_include_tag "application" %>
    <%= include_gon %>
    <%= stylesheet_link_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
<%= render "layouts/header" %>

<body>
  <%= render "layouts/alerts" %>

    <div class="row small-up-2 large-up-3">
      <%= yield %>
    </div>


    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
       <script src="http://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.js"></script>
       <script>
         $(document).foundation();
       </script>
  </body>
</html>
